:root {
	--EASGlanceToolbarHeight: 35px;
	--OLSKStickyHeaderTop: var(--EASGlanceToolbarHeight);
}

@media screen and (max-width: 760px) {

	:root {
		--EASGlanceToolbarHeight: 45px;
	}

}

.EASGlance {
	padding: 0;
	padding-top: calc(var(--EASGlanceToolbarHeight) + 1px);

	font-family: Arial;
	font-size: 9pt;
}

.EASGlanceHeader {
	display: flex !important;

	align-items: center;
	background: inherit;
}

.EASGlanceRootLinkImage {
	width: 24px;
	padding: 3px;
}

.EASGlanceList {
	background: #009538;
}

.EASGlanceListSort {
	cursor: pointer;
}

.EASGlanceListSort:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: "";
  position: relative;
}

.EASGlanceListSort.asc:after {
  border-bottom: 5px solid #000;
  top: -10px;
  right: -5px;
}

.EASGlanceListSort.desc:after {
  border-top: 5px solid #000;
  top: 10px;
  right:-5px;
}

.EASGlanceFilterInput {
	padding: 0 5px !important;
	height: var(--EASGlanceToolbarHeight);
	border-radius: 0 !important;
	border: none !important;

	flex-grow: 1;
}

.EASGlanceProjectsCompilationLink {
	padding: 0 10px;
}

.EASGlanceList .list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.EASGlanceListItem {
	padding: 10px;
	width: 220px;

	font-size: 120%;
}

@media screen and (max-width: 760px) {

	.EASGlanceListItem {
		width: 100%;
	}

}

.EASGlanceListItemIconImage {
	width: 100%;
	padding: 10px;
	border-radius: 15px;

	margin: 0 !important;
}

.EASGlanceListItemName {
	font-size: 140%;
}

.EASGlanceListItemBlurb {
	opacity: 0.5;
}
