.EASVitrinePlatformsLink {
	display: flex;

	text-decoration: none;

	align-items: center;
}

.EASVitrinePlatformsLinkImage {
	--EASVitrinePlatformsLinkImageSize: 32px;
	
	padding: 8px;
	width: var(--EASVitrinePlatformsLinkImageSize);
	max-height: var(--EASVitrinePlatformsLinkImageSize);
}

.EASVitrinePlatformsLinkText {
	font-size: 120%;
	font-family: var(--OLSKCommonHeadingFontFamily);
}

.EASVitrineZeroDataCrownName {
	text-decoration: none;
}
