/*

.OLSKCrownCard *, .OLSKLandingHeading, h1, .OLSKDecorPressCall {
	color: var(--EASContrast) !important;
}

p {
	color: var(--EASContrast) !important;
}

hr {
	background: var(--EASContrast) !important;
}

.OLSKDecorPressCall, h1 {
	border-color: var(--EASContrast) !important;
}*/