.EASVitrinePlatformsLink {
	display: flex;

	text-decoration: none;

	align-items: center;
}

.EASVitrinePlatformsLinkImage {
	--EASVitrinePlatformsLinkImageSize: 32px;
	
	padding: 8px;
	width: var(--EASVitrinePlatformsLinkImageSize);
	max-height: var(--EASVitrinePlatformsLinkImageSize);
}

.EASVitrinePlatformsLinkText {
	font-size: 120%;
	font-family: var(--OLSKCommonHeadingFontFamily);
}

.OLSKDecorGlossary {
	margin: unset;
	color: inherit;
	background: #0e7226;
}

.OLSKDecorGlossary dd {
	margin: 4px 0 10px 0;
}

.EASVitrineZeroDataCrownName {
	text-decoration: none;
}
