<div class="EASRootLink">

<%- include('../../../node_modules/OLSKRootLink/main.ejs', {
	OLSKRootLinkURL: OLSKCanonicalLocalized('EASVitrineRoute'),
	OLSKRootLinkImageURL: process.env.EAS_VITRINE_IDENTITY_URL,
}) %>

</div>
