:root {
	--OLSKCommonBackground: #007d32;
	--OLSKDecorBackgroundDeep: #0e401d;
	--OLSKDecorBackgroundDeepEdge: #309d30;
	--OLSKCommonForeground: #d0fba2;
	--OLSKDecorBackgroundDark: #006426;
	--OLSKDecorForegroundLight: #478c00;
}

html, body, .OLSKDecorCapped {
	min-height: 100vh;
}
