:root {
	--EASContrast: #ffff82;
	--OLSKCommonBackground: #00be46;
	--OLSKCommonForeground: var(--EASContrast);
	--OLSKCommonEdgeColor: var(--EASContrast);
}

body {
	background: var(--OLSKCommonBackground);
}

*:not(h1, .OLSKLandingHeading) {
	--EASContrast: #B0F05D;
	--OLSKCommonForeground: var(--EASContrast) ;
	--OLSKCommonEdgeColor: var(--EASContrast) ;
	border-color: var(--EASContrast)  !important;
}

a.OLSKDecorPress {
	color: var(--EASContrast);
}

h1, .OLSKLandingHeading {
	--EASContrast: #ffff82 !important;
	--OLSKCommonForeground: var(--EASContrast) !important;
	--OLSKCommonEdgeColor: var(--EASContrast) !important;
}